 <div id="wrapper">
      <h1 class="uk-text-center">TV Movie Articles</h1>
      <h2 class="uk-text-center"><i>The latest in entertainment.</i></h2>

      <button class="uk-button uk-button-default uk-width-1-1 uk-button-primary" id="scraper">Scrape Articles</button>
      <div id="articles"></div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/app.js"></script>